@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  padding: 0;
  margin: 0;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: #1f2937;
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #0b1220;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;

  /* App Colors */
  --color-primary-500: #6366f1; /* indigo-500 */
  --color-primary-600: #4f46e5; /* indigo-600 */

  /* ===== Backgrounds ===== */
  --color-bg-primary: #0b1220;
  --color-bg-primary-2: #111827;
  --color-bg-hover: #111827;

  /* ===== Borders ===== */
  --color-border-primary: #1f2937;

  /* ===== Text ===== */
  --color-text-primary: #e5e7eb;
  --color-text-secondary: #6b7280;
  --color-text-inverse: #ffffff;
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.923 0.003 48.717);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.001 106.423);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 0 0% 98%;
  --sidebar-primary-foreground: 240 5.9% 10%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .auth-bg {
    background-image:
      linear-gradient(
        to right,
        rgba(11, 15, 20, 0.95) 0%,
        rgba(11, 15, 20, 0.8) 50%,
        rgba(15, 23, 42, 0.65) 75%,
        rgba(15, 23, 42, 0.45) 100%
      ),
      url("/assets/Background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0b0f14;
  }

  .google-auth-btn {
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #1f2937;
    background-color: #0b1220;
    color: #e5e7eb;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
  }

  .google-auth-btn:hover {
    background-color: #111827;
  }

  .primary-input {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    color: var(--color-text-primary);
    font-size: 0.875rem;
    outline: none;
    padding: 0.5rem 1rem;
  }

  .primary-input::placeholder {
    color: var(--color-text-secondary);
  }

  .primary-input:focus {
    border-color: var(--color-primary-500);
    box-shadow: 0 0 0 1px var(--color-primary-500);
  }

  .primary-input.error {
    border-color: var(--destructive);
  }

  .primary-input.error:focus {
    border-color: var(--color-destructive);
    box-shadow: 0 0 0 1px var(--color-destructive);
  }

  .button-primary {
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: var(--color-primary-500);
    color: var(--color-text-inverse);
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.15s ease-in-out;
    cursor: pointer;
  }

  .button-primary:hover {
    background-color: var(--color-primary-600);
  }

  .button-primary:disabled {
    background-color: var(--color-primary-600);
  }

  .bg-primary {
    background-color: var(--color-bg-primary);
  }

  .bg-primary-2 {
    background-color: var(--color-bg-primary-2);
  }

  .primary-hover {
    background-color: #111827;
  }

  .sidebar-list {
    padding: 8px 12px;
    cursor: pointer;
  }
  .sidebar-list:hover {
    background-color: rgb(27, 37, 59);
    border-radius: 8px;
  }

  .text-14-400-primary {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-primary);
  }

  .text-14-500-primary {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-primary);
  }

  .text-18-500-primary {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-text-primary);
  }

  .icon-container {
    margin-left: auto;
    cursor: pointer;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-container:hover {
    background-color: rgb(27, 37, 59);
    border-radius: 6px;
  }

  .sidebar-transition {
    transition: all 0.2s ease-in-out;
  }

  .sidebar-item {
    transition:
      background-color 0.15s ease-in-out,
      transform 0.1s ease;
  }

  .sidebar-item:hover {
    background-color: #1f2937;
    transform: translateX(2px);
  }

  .sidebar-item-active {
    background-color: #1f2937;
    color: var(--color-text-inverse);
  }

  .sidebar-item:active {
    transform: translateX(0px);
  }

  .chevron-rotate {
    transition: transform 0.2s ease-in-out;
  }

  .chevron-rotate.open {
    transform: rotate(180deg);
  }
}
